*{
    margin:0;
    padding: 0 ;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html,
body {
  font-size: 62.5%;
  font-family: "游ゴシック, Yu Gothic, Hiragino Kaku Gothic ProN, Hiragino Kaku, Gothic Pro, メイリオ, ＭＳ ゴシック, sans-serif";
}
body{
  padding: 0 20px;
}